{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.taoensso/nippy {:mvn/version "3.4.2"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}}
 :aliases
 {:run {:main-opts ["-m" "peltier.core"]}}}
